.top-bar {
  height: 70px;
  background: linear-gradient(90deg, #1f4037, #99f2c8);
  display: flex;
  position: sticky;
  justify-content: space-between;
  padding: 15px 30px;
  background: #111;
  color: white;
}

.top-bar h2 {
  color: #ffffff;
  font-weight: 700;
  letter-spacing: 1px;
}
