.top-bar {
  height: 70px;
  background: linear-gradient(90deg, #1f4037, #99f2c8);
  display: flex;
  align-items: center;
  padding-left: 30px;
}

.top-bar h2 {
  color: #ffffff;
  font-weight: 700;
  letter-spacing: 1px;
}
