.navbar {
  display: flex;
  justify-content: space-between;
  padding: 15px 30px;
  background: #111;
  color: white;
}

.logo {
  margin: 0;
}

.links a {
  color: #bbb;
  margin-left: 20px;
  text-decoration: none;
  font-weight: 500;
}

.links a.active {
  color: #00eaff;
  border-bottom: 2px solid #00eaff;
}
